<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shfc.nnstv.dao.RealtorAuditRecordMapper">
  <resultMap id="BaseResultMap" type="com.shfc.nnstv.domain.RealtorAuditRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="realtor_id" jdbcType="BIGINT" property="realtorId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="result" jdbcType="TINYINT" property="result" />
    <result column="not_pass_cause" jdbcType="VARCHAR" property="notPassCause" />
    <result column="auditor_name" jdbcType="VARCHAR" property="auditorName" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, realtor_id, phone, name, store_name, company_name, result, not_pass_cause, auditor_name, 
    audit_time, create_time, modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from realtor_audit_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from realtor_audit_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.shfc.nnstv.domain.RealtorAuditRecord" useGeneratedKeys="true">
    insert into realtor_audit_record (id, realtor_id, phone, 
      name, store_name, company_name, 
      result, not_pass_cause, auditor_name, 
      audit_time, create_time, modifier, 
      modify_time, version)
    values (#{id,jdbcType=BIGINT}, #{realtorId,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{result,jdbcType=TINYINT}, #{notPassCause,jdbcType=VARCHAR}, #{auditorName,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, now(), #{modifier,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, 0)
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.shfc.nnstv.domain.RealtorAuditRecord" useGeneratedKeys="true">
    insert into realtor_audit_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="realtorId != null">
        realtor_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="notPassCause != null">
        not_pass_cause,
      </if>
      <if test="auditorName != null">
        auditor_name,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="realtorId != null">
        #{realtorId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=TINYINT},
      </if>
      <if test="notPassCause != null">
        #{notPassCause,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null">
        #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfc.nnstv.domain.RealtorAuditRecord">
    update realtor_audit_record
    <set>
      <if test="realtorId != null">
        realtor_id = #{realtorId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=TINYINT},
      </if>
      <if test="notPassCause != null">
        not_pass_cause = #{notPassCause,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null">
        auditor_name = #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfc.nnstv.domain.RealtorAuditRecord">
    update realtor_audit_record
    set realtor_id = #{realtorId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      result = #{result,jdbcType=TINYINT},
      not_pass_cause = #{notPassCause,jdbcType=VARCHAR},
      auditor_name = #{auditorName,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = now(),
      version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
</mapper>