<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shfc.nnstv.dao.SysOpRoleMapper">
  <resultMap id="BaseResultMap" type="com.shfc.nnstv.domain.SysOpRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ar_name" jdbcType="VARCHAR" property="arName" />
    <result column="ad_id" jdbcType="SMALLINT" property="adId" />
    <result column="ar_time_create" jdbcType="TIMESTAMP" property="arTimeCreate" />
    <result column="ar_time_update" jdbcType="TIMESTAMP" property="arTimeUpdate" />
    <result column="ar_status" jdbcType="TINYINT" property="arStatus" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ar_name, ad_id, ar_time_create, ar_time_update, ar_status, creater, create_time, 
    modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_op_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_op_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.shfc.nnstv.domain.SysOpRole" useGeneratedKeys="true">
    insert into sys_op_role (id, ar_name, ad_id, 
      ar_time_create, ar_time_update, ar_status, 
      creater, create_time, modifier, 
      modify_time, version)
    values (#{id,jdbcType=BIGINT}, #{arName,jdbcType=VARCHAR}, #{adId,jdbcType=SMALLINT}, 
      #{arTimeCreate,jdbcType=TIMESTAMP}, #{arTimeUpdate,jdbcType=TIMESTAMP}, #{arStatus,jdbcType=TINYINT}, 
      #{creater,jdbcType=BIGINT}, now(), #{modifier,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, 0)
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.shfc.nnstv.domain.SysOpRole" useGeneratedKeys="true">
    insert into sys_op_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="arName != null">
        ar_name,
      </if>
      <if test="adId != null">
        ad_id,
      </if>
      <if test="arTimeCreate != null">
        ar_time_create,
      </if>
      <if test="arTimeUpdate != null">
        ar_time_update,
      </if>
      <if test="arStatus != null">
        ar_status,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="arName != null">
        #{arName,jdbcType=VARCHAR},
      </if>
      <if test="adId != null">
        #{adId,jdbcType=SMALLINT},
      </if>
      <if test="arTimeCreate != null">
        #{arTimeCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="arTimeUpdate != null">
        #{arTimeUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="arStatus != null">
        #{arStatus,jdbcType=TINYINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfc.nnstv.domain.SysOpRole">
    update sys_op_role
    <set>
      <if test="arName != null">
        ar_name = #{arName,jdbcType=VARCHAR},
      </if>
      <if test="adId != null">
        ad_id = #{adId,jdbcType=SMALLINT},
      </if>
      <if test="arTimeCreate != null">
        ar_time_create = #{arTimeCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="arTimeUpdate != null">
        ar_time_update = #{arTimeUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="arStatus != null">
        ar_status = #{arStatus,jdbcType=TINYINT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfc.nnstv.domain.SysOpRole">
    update sys_op_role
    set ar_name = #{arName,jdbcType=VARCHAR},
      ad_id = #{adId,jdbcType=SMALLINT},
      ar_time_create = #{arTimeCreate,jdbcType=TIMESTAMP},
      ar_time_update = #{arTimeUpdate,jdbcType=TIMESTAMP},
      ar_status = #{arStatus,jdbcType=TINYINT},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = now(),
      version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
</mapper>